@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;  
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

thead {
  background: #FAFAFA;
  color: #98949E;
  text-align: left;
  border-radius: 8px 0px;
}

tbody {
  margin-top: 12px
}

td, th {
  padding: 10px
}

button:hover {
  opacity: 0.8
}
